.inputComponent {
    position:fixed;
    bottom: 50px;
    width: 70vw;
    max-width: 581px;
    z-index: 1;
    background-color: #c5c9c9;
    border-radius: 20px;
    margin: auto;
    
}

.messages {
}

