@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

/* Logo */

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* appBar */

.appBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

/* Sign Out & Sign In */

.signInOut {
    margin: 32px 20px;
}


.image{
    height:50px;
    width:50px;
    margin: 20px 20px;
}

h1 {
    font-family: 'Vujahday Script', cursive;
}